body{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
main{
    padding: 13px;
}
nav{
    margin-top: 2.5rem
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li:first-child{
    font-family: Monterrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.412896px;


}
.notification-icon{
    font-size: 25px;
    
}
.search{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.searchText{
    width: 80%;
    position: relative;
    background-color: #e5e5e5;
    border-radius: 11.4px;
}
.searchIcon{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 22px;
    color: black;
}
#TextSearch{
    border: none;
    outline: none;
    background-color: #e5e5e5;
}
.filter{
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 11.4px;
    display: block;
    text-align: center;
    width: 15%;
    padding-top: 15px;
    color: black;
}
.matters{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
h3{
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.3312px;
}
.continue{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.3312px;
    padding: 0;
    color: #858585;
}
.news{
    display: flex;
    width: 100vw;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.newsBox{
    background: url(../images/img1.png);    
}

.newsBox2{
    background: url(../images/img2.png);    
}
.newsBox3{
    background: url(../images/img3.png);    
}
.newsBox4{
    background: url(../images/img4.png);    
}
.newsBox5{
    background: url(../images/img5.png);    
}
.newsBox6{
    background: url(../images/img6.png);    
}
.newsBox7{
    background: url(../images/img7.png);    
}
.newsBox8{
    background: url(../images/img8.png);    
}
.newsBox9{
    background: url(../images/img9.png);    
}
.newsBox10{
    background: url(../images/img10.png);    
}
.newsBox11{
    background: url(../images/img11.png);    
}
.newsBox12{
    background: url(../images/img12.png);    
}
.news-Images{
    background-repeat: no-repeat;
    width: 47%;
    height: 150px;
    border-radius: 20px;
    background-size: cover;    
}
.problems{
    padding: 0;
    padding-left: 11px;
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    text-align: left;
}
.status{
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
    padding: 2px;
}

.time, .viewers{
    display: flex;
    width: 35%;
}
.time{
    width: 60%;
    padding-left: 5px;
}
.icons{
    font-size: 10px;
    margin-right: 5px;
    padding-top: 3px;
}
.hours, .views{
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}
.tech{
    width: fit-content;
    margin-top: 1.5rem;
}
.navigation{
    height: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 500px;
}
.nav-icons{
    color: #cdcdcd;
    font-size: 25px;
}
.active-icon{
    color: black
}