#number{
    margin-top: 16px;
}
h1{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    color: var(--primary__color);
}
.SignIn__desc{
    margin-bottom: 1rem;
}
.success{
    width: 90%;
    height: 300px;
    display: none;
}
.newBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}